import React from 'react';
import PropTypes from 'prop-types';

import './style.scss';

export const <%= name %> = ({ page }) => (
  <div className="<%= NAME %>">
    <p><%= name %> Component {page}</p>
  </div>
);

<%= name %>.propTypes = {
  page: PropTypes.string
};

<%= name %>.defaultProps = {
  page: 'Page'
};
export default <%= name %>;
